.page {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
	margin-bottom: 60px;
}

.box {
	transform: rotate(9.5deg);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 800;
	color: #fff;
	margin: 0 auto;
}
.boxProduct {
	transform: rotate(15deg);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 800;
	color: #fff;
	margin: 0 auto;
	margin-right: 28%;
}
.layoutBox {
	display: flex;
	text-align: center !important;
	align-items: center;
	justify-content: center;
}
